<section id="widget-grid" class="">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <h2><strong>번역서</strong></h2>				
            <div class="widget-toolbar">   
                <ul class="pagination pagination-xs">
                </ul>
            </div>
        </header>
        <div>
            <div class="jarviswidget-editbox">   </div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div class="row">
                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input class="form-control" id="searchText" placeholder="Search" type="text">
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
                            <button class="btn btn-success searchBt">
                                <i class="fa fa-search"></i> <span class="hidden-mobile">검색</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>    
            <div id="bookRow" class="row"></div>
        </div>
    </div>
</section>

<div style="visibility: hidden;">
<div id="bookTemplate" class="col-sm-6 col-md-6 col-lg-4">
    <div class="product-content product-wrap clearfix">
        <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image"> 
                        <img src="/img/demo/e-comm/3.png" alt="194x228" class="img-responsive"> 
                        <span class="tag2"></span> 
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="product-deatil">
                    <h5 class="name">
                        <a class="bookTitle" href="#"><span></span></a>
                    </h5>
                    <span class="tag1"></span> 
                </div>
                <div class="description">
                    <p></p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6"> <a href="#" id="papagoBt" class="btn btn-primary">파파고</a> </div>
                <div class="col-md-6 col-sm-6 col-xs-6"> <a href="#" id="googleBt" class="btn btn-danger">구글</a> </div>
            </div>
        </div>
    </div>
</div>	
</div>

<script>
    $(document).ready(function () {
        $("#menu-pack").addClass("active open");
        $("#menu-pack-packko").addClass("active");

        const rows = 21;

        $("button.searchBt").click(function() {
            getListData(1, rows, $("input#searchText").val());
        });

        function drawCard(data) {
            $("#bookRow").html("");
            
            $(data.books).each(function (index) {
                let $clone = $("#bookTemplate").clone();

                $($clone).find(".img-responsive").attr("src", this.imgUrl)
                if (this.title.length > 40) {
                    this.title = this.title.substring(0, 40) + "...";
                }
            
                $($clone).find(".product-deatil h5 a").text(this.title).append("<span>"+ this.publicationDate +"</span>");
                $($clone).find("#papagoBt").on('click', function() {
                    location.href="/packko/"+isbn+"?type=1"
                });
                $($clone).find("#googleBt").on('click', function() {
                    location.href="/packko/"+isbn+"?type=2"
                });

                $("#bookRow").append($clone);  
            });
        }

        function drawPagination(data, pageNum, rowNum, searchText) {
            $("ul.pagination").html("");
            let totalPage = parseInt(data.bookCount / rowNum + (data.bookCount % rowNum == 0 ? 0 : 1));
            
            let startPage = pageNum - 4;
            if (pageNum < 6) {
                startPage = 1;
            } else if (pageNum + 4 > totalPage) {
                startPage = totalPage - 9;
            }

            let finishPage = startPage + 9;
            if (totalPage < startPage + 9) {
                finishPage = totalPage;
            }
            
            for (let i = startPage; i <= finishPage; i++) {
                let $li = $("<li></li>");
                $li.addClass("page-item");
                if (i == pageNum) {
                    $li.addClass("active");
                }
                let $a = $("<a href='#'>" +i+ "</a>");
                $a.addClass("page-link");
                $a.on('click', function() {
                    getListData(i, rows, searchText);
                });
                $li.append($a);

                $("ul.pagination").append($li);
            }
        }

        function getListData(pageNum, rowNum, searchText) {
            $.getJSON('/packko/list', {"pageNum" : pageNum , "rowNum" : rowNum, "searchText" : searchText}, function (data) {
                //테이블 그리기
                //drawTable(data);
                drawCard(data);
                //페이징
                drawPagination(data, pageNum, rowNum, searchText);
            });
        }

        getListData(1, rows, "");
    });
</script>