<style>
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  top : 0;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #3a3633;
  color : #c0bbb7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul.book_menu>li.subTitle {
  color : #57889c;
}

#wrapper.toggled #sidebar-wrapper {
  width: 400px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -400px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 200px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 400px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
</style>
<div id="wrapper">
<div id="sidebar-wrapper">
    <div class="card text-white bg-dark border-dark">
        <h3 class="card-header">
        메뉴
        </h3>
        <div class="card-body">
        <ul class="book_menu">
            
        </ul>
        </div>
    </div>
</div>
<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">메뉴</a>
<div id="page-content-wrapper" class="book_content">
    
</div>
</div>


<script>
$(document).ready(function () {
    $("#menu-pack").addClass("active open");
    $("#menu-pack-pack").addClass("active");

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    let isbn = <%= isbn %>
    $.getJSON('/pack/list/'+isbn, {}, function (data) {
        let $ul = $("ul.book_menu");
        let $chul = $("<ul class=''></ul>");
        $("div.book_content").html(data.book_data[0].content)
        $(data.book_data).each(function (index) {
            let $li = $("<li class=''>"+this.title+"</li>");
            $li.on('click', function() {
                $("#wrapper").removeClass("toggled");
                $("div.book_content").html(data.book_data[index].content);
            });
            if (index == 0) {   //처음
                $ul.append($li.addClass("subTitle"));
            } else if (data.book_data.length-1 == index) {//마지막
                $ul.append($chul);
            } else if (data.book_data[index].menuNum != data.book_data[index-1].menuNum) {
                $ul.append($chul);    
                $ul.append($li.addClass("subTitle"));
                $chul = $("<ul class=''></ul>");
            } else {
                $chul.append($li);
            }
        });
        
    });
});
</script>