<section id="widget-grid" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>번역 예약 추가</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">

                        <form class="smart-form">
                            <header>
                                ISBN 입력
                            </header>

                            <fieldset>
                                <section>
                                    <label class="input" id="isbnAddLabel">
                                        <input type="text" placeholder="" id="isbnAddText">
                                    </label>
                                    <div class="note note-error" id="isbnAdderror"></div>
                                </section>
                            </fieldset>

                            <footer>
                                <button type="button" class="btn btn-primary" id="isbnAddBtn">
                                    추가
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>번역 예약 현황</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body">                        
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>isbn</th>
                                        <th>완료</th>
                                        <th>진행상황</th>
                                        <th>우선도</th>
                                    </tr>
                                </thead>
                                <tbody id="trformTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#menu-pack").addClass("active open");
        $("#menu-pack-trform").addClass("active");

        function tablePrint() {
            $.getJSON('/pack/translate/list', {}, function (data) {
                $("#trformTable").html("")
                data.book.forEach(element => {
                    let $tr = $("<tr></tr>");
                    $tr.append($("<td></td>").text(element.isbn));
                    $tr.append($("<td></td>").text(element.finish));
                    $tr.append($("<td></td>").text(element.save));
                    $tr.append($("<td></td>").text(element.orderNum));
                    $("#trformTable").append($tr);
                });
            });
        }
        tablePrint();
        $("button#isbnAddBtn").click(function() {
            $.ajax({
                url : '/pack/translate/add',
                method : 'post',
                data : {
                    isbn : $("#isbnAddText").val(),
                },
                success : function (data) {
                    if (data.result == 0) {
                        $("#isbnAddText").val("")
                        $("label#isbnAddLabel").removeClass("state-error")
                        $("label#isbnAddLabel").addClass("state-success")
                        $("div#isbnAdderror").text(data.message);
                        tablePrint();
                    } else {
                        $("label#isbnAddLabel").addClass("state-error")
                        $("label#isbnAddLabel").removeClass("state-success")
                        $("div#isbnAdderror").text(data.message);
                    }
                },
                error : function (err) {
                    console.log(err);
                }
            });
            
        });
    });
</script>