<header id="header">
    <div id="logo-group">
        <span id="logo">
            <h4 class="txt-color-red">공사중</h4>
            <!-- <img src="" alt="NanPaSun">  -->
        </span>
    </div>
    
    <div class="pull-right">
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="#" title="Sign Out" data-action="userLogout" data-logout-msg="로그아웃?"><i class="fa fa-sign-out"></i></a> </span>
        </div>

        <div id="search-mobile" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>
    
        <form action="#" class="header-search pull-right">
            <input id="search-fld"  type="text" name="param" placeholder="검색" data-autocomplete='[
            "test",
            "test2"]'>
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
        </form>
   
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
    </div>
</header>