<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="well well-light well-sm no-margin no-padding">
            <div class="row">
                <div class="col-sm-12">
                    <div id="myCarousel" class="carousel fade profile-carousel">
                        <div class="air air-bottom-right padding-10">
                            
                        </div>
                        <div class="air air-top-left padding-10">
                            <h4 class="txt-color-white font-md">since 2019</h4>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="img/demo/s1.jpg" alt="demo user">
                            </div>
                            <div class="item">
                                <img src="img/demo/s2.jpg" alt="demo user">
                            </div>
                            <div class="item">
                                <img src="img/demo/m3.jpg" alt="demo user">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3 profile-pic">
                            <img src="img/avatars/hyungjin.png" alt="demo user">
                            <!-- <div class="padding-10">
                                <h4 class="font-md"><strong>1,543</strong>
                                <br>
                                <small>Followers</small></h4>
                                <br>
                                <h4 class="font-md"><strong>419</strong>
                                <br>
                                <small>Connections</small></h4>
                            </div> -->
                        </div>
                        <div class="col-sm-6">
                            <h1>김형진</span>
                            <br>
                            <small> Web, Android, IOS 개발자</small></h1>
                            <ul class="list-unstyled">
                                <!-- <li>
                                    <p class="text-muted">
                                        <i class="fa fa-phone"></i>&nbsp;&nbsp;(<span class="txt-color-darken">010</span>) <span class="txt-color-darken">0000</span> - <span class="txt-color-darken">0000</span>
                                    </p>
                                </li> -->
                                <li>
                                    <p class="text-muted">
                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:wkzkfmxk23@gmail.com">wkzkfmxk23@gmail.com</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-muted">
                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:wkzkfmxk12@naver.com">wkzkfmxk12@naver.com</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-muted">
                                        <i class="fa fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/napasun">napasun</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-muted">
                                        <i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://napasun.tiddlyspot.com/">위키</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-muted">
                                        <i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://bnps.tiddlyspot.com/">예전위키</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-muted">
                                        <i class="fa fa-link"></i>&nbsp;&nbsp;<a href="https://napasun-programming.tistory.com/">블로그</a>
                                    </p>
                                </li>
                            </ul>
                            <br>
                            <p class="font-md">
                                <i>이 사이트는...</i>
                            </p>
                            <p>
                                아직 만들어 지고 있는 사이트 입니다. 포트폴리오이자 개인홈페이지로 사용하기 위해 만들고 있습니다.
                            </p>
                            <p>
                                Node.js를 사용하여 만들어 지고 있으며 서버는 집에 있는 라즈베리파이로 구축되어 있습니다.
                            </p>
                            <p>
                                나중에 주제별로 프로젝트를 분리 따로 백엔드를 구축 각각 다른 프레임워크로 구축해 보고 싶네요 언제가 될려나..
                            </p>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
            <header>
                    <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                    <h2>경력사항</h2>
            </header>
        
            <div>
                <div class="widget-body no-padding">
                    <div class="panel-group smart-accordion-default" id="accordion">
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>


<div style="visibility: hidden;">
<div class="panel panel-default" id="carees_template">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse_" class="career_title"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i></a>
        </h4>
    </div>
    <div id="collapse_" class="panel-collapse collapse">
        <div class="panel-body no-padding"></div>
    </div>
</div>

<div class="tabs-left">
        <ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
        </ul>
        <div class="tab-content">
        </div>
    </div>
<div>


<script>
$(document).ready(function() {
    $.ajax({
        method: "get",
        url: "/profile/list",  
    }).done((careers) => {
        let $clone = $("#carees_template").clone();
        let $tabClone = $(".tabs-left").clone();
        careers.rows.forEach((career) => {
            if (career.childIdx) {
                if ($("#carees_"+career.idx).length == 1) {//부모가 있을 경우
                    let $tabTemplate = $("#carees_"+career.idx);
                    $($tabTemplate).find("#demo-pill-nav").append($("<li>").append($("<a>").attr("href", "#tab-r"+career.childIdx).attr("data-toggle", "tab").text(career.childTitle)));
                    $($tabTemplate).find(".tab-content").append($("<div>").addClass("tab-pane").attr("id", "tab-r"+career.childIdx).append($("<pre>").text(career.childDescription)));
                } else {
                    let $template = $($clone).clone();
                    $($template).attr("id", "carees_"+career.idx);
                    $($template).find(".career_title").attr("href", "#collapse_"+career.idx).append(career.title);
                    $($template).find(".panel-collapse").attr("id", "collapse_"+career.idx);
                    $("#accordion").append($template);

                    let $tabTemplate = $tabClone.clone();
                    $($tabTemplate).find("#demo-pill-nav").append($("<li>").addClass("active").append($("<a>").attr("href", "#tab-r"+career.childIdx).attr("data-toggle", "tab").text(career.childTitle)));
                    $($tabTemplate).find(".tab-content").append($("<div>").addClass("tab-pane active").attr("id", "tab-r"+career.childIdx).append($("<pre>").text(career.childDescription)));
                    $("#carees_"+career.idx).find(".panel-body").append($tabTemplate);
                }
            } else {
                let $template = $($clone).clone()
                $($template).attr("id", "carees_"+career.idx);
                $($template).find(".career_title").attr("href", "#collapse_"+career.idx).append(career.title);
                $($template).find(".panel-collapse").attr("id", "collapse_"+career.idx);
                $($template).find(".panel-body").append($("<pre>").text(career.description));
                $("#accordion").append($template);
            }
        });
    }).fail((jqXHR, textStatus) => {
        alert("error = "+textStatus)
    });
});
</script>