<table class="table table-sm table-dark table-hover">
    <tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    
  </ul>
</nav>

<script>
    $(document).ready(function () {
        function getListData(pageNum) {
            $.getJSON('/pack/list', {pageNum : pageNum }, function (data) {
            $(data.books).each(function (index) {
                let $tr = $("<tr></tr>");
                $tr.append($("<td><img src='" + this.imgUrl + "'></td>"));
                $tr.append($("<td>" + this.title + "</td>"));
                $tr.append($("<td>" + this.publicationDate + "</td>"));
                // $tr.append($("<td>" + this.isbn + "</td>"));
                let isbn = this.isbn;
                $tr.on('click', function() {
                    location.href="/pack/"+isbn
                });
                $("table tbody").append($tr);
            });
        });
        }
    
        $("a.page-link").click(function() {
            getListData($(this).html());
        });

        getListData(1);
    });
</script>