<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor.css">
<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor-contents.css">
<!-- https://nhnent.github.io/tui.editor/api/latest/index.html -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.41.0/lib/codemirror.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs@9.12.0/styles/rainbow.css">

<style>
#wrapper {
  width: 100%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 20px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 400px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -100px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 400px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 400px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
</style>


<div id="wrapper">
<div id="sidebar-wrapper">
    <div class="card text-white bg-dark border-dark">
        <h3 class="card-header">
        메뉴
        </h3>
        <div class="card-body">
        <ul class="book_menu">
            
        </ul>
        </div>
    </div>
</div>
<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">메뉴</a>
<div id="page-content-wrapper" class="book_content">
  <div id="editSection"></div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/markdown-it@8.4.2/dist/markdown-it.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/to-mark@1.1.3/dist/to-mark.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tui-code-snippet@1.4.0/dist/tui-code-snippet.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.41.0/lib/codemirror.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highlightjs@9.12.0/highlight.pack.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/squire-rte@1.9.0/build/squire-raw.js"></script>
<script src="/javascripts/edit/dist/tui-editor-Editor.js"></script>
<script src="/javascripts/showdown/showdown.min.js"></script>
<script>
$(document).ready(function () {
    var editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: '1000px'
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    //var simplemde = new SimpleMDE({ element: document.getElementById("simplemde") });
    var converter = new showdown.Converter();
    
    let isbn = <%= isbn %>
    $.getJSON('/packko/list/'+isbn, {}, function (data) {
        let $ul = $("ul.book_menu");
        let $chul = $("<ul class=''></ul>");
        editor.setValue(data.book_data[0].content)
        //$("div.book_content").html(converter.makeHtml(data.book_data[0].content));
        $(data.book_data).each(function (index) {
            let $li = $("<li class=''>"+this.title+"</li>");
            $li.on('click', function() {
              //console.log(converter.makeHtml(data.book_data[index].content))
              //$("div.book_content").html(data.book_data[index].content);
              //$("div.book_content").html(converter.makeHtml(data.book_data[index].content));
              editor.setValue(data.book_data[index].content)
            });
            if (index == 0) {
                $ul.append($li);
            } else if (data.book_data.length-1 == index) {
                $ul.append($chul);
            } else if (data.book_data[index].menuNum != data.book_data[index-1].menuNum) {
                $ul.append($chul);    
                $ul.append($li);
                $chul = $("<ul class=''></ul>");
            } else {
                $chul.append($li);
            }
        });
        
    });
});
</script>