<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 sortable-grid ui-sortable">
                <div class="jarviswidget jarviswidget-color-blueDark" id="project-wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>프로젝트 관리</h2>
        
                            <div class="widget-toolbar">
                                <!-- <a href="/project/form" id="writeBtn" class="btn btn-primary">프로젝트 추가</a> -->
                            </div>
                    </header>
                    <div>
                        <div class="widget-body">  
                            <table id="jqgrid"></table>
                            <div id="pjqgrid"></div>
                        </div>
                    </div>
                </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 sortable-grid ui-sortable">
            <div class="jarviswidget jarviswidget-color-blue" id="project-wid-id-1" data-widget-editbutton="false">
                <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>버전</h2>
    
                        <div class="widget-toolbar">
                        </div>
                </header>
                <div>
                    <div class="widget-body">  
                        <table id="jqgrid_version"></table>
                        <div id="pjqgrid_version"></div>
                    </div>
                </div>
            </div>
    </article>
    </div>
</section>

<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blue" id="project-wid-id-1" data-widget-editbutton="false">
                    <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>일감</h2>
        
                            <div class="widget-toolbar">
                            </div>
                    </header>
                    <div>
                        <div class="widget-body">  
                            <table id="jqgrid_task"></table>
                            <div id="pjqgrid_task"></div>
                        </div>
                    </div>
                </div>
        </article>
    </div>
</section>
    
<script src="/js/plugin/jqgrid/jquery.jqGrid.min.js"></script>
<script src="/js/plugin/jqgrid/grid.locale-en.min.js"></script>
<script src="/js/views/project/project/list.js"></script>