<script src="/js/plugin/markdown/markdown.min.js"></script>
<script src="/js/plugin/markdown/to-markdown.min.js"></script>
<script src="/js/plugin/markdown/bootstrap-markdown.min.js"></script>
<section id="widget-grid" class="">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-purple" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">	
				<header>
					<span class="widget-icon"> <i class="fa fa-pencil"></i> </span>
                    <h2>입력</h2>
                </header>
                <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form id="checkout-form" class="smart-form" novalidate="novalidate">
                                <fieldset>
                                    <section>
                                        <label class="label">제목</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-tag"></i>
                                            <input type="hidden" name="idx" id="idx" value="<%=idx%>">
                                            <% if (row) {
                                            %>
                                            <input type="text" name="title" id="title" value="<%=row.title%>">
                                            <%
                                            } else {
                                            %>
                                            <input type="text" name="title" id="title">
                                            <%
                                            }
                                            %>
                                        </label>
                                    </section>
                                </fieldset>
                            </form>
                            <textarea id="mymarkdown" class="custom-scroll"><%if(row){%><%= row.content%><%}%>
                            </textarea>
                        </div>
                    </div>
			</div>
		</article>
	</div>	
</section>
<fieldset>
        
        
    </fieldset>
<script>
$(document).ready(function() {
    $("#menu-board").addClass("active open");
    $("#menu-board-content").addClass("active");

    $("#mymarkdown").markdown({
        autofocus:false
        , savable:true
        , height: "400"
        , onShow: (e) => {}
        , onSave: (e) => {
            let method = "post";
            if ($("#idx").val() != 0) {
                method = "put";
                
            } 
            $.ajax({
                    url: "/board/content/form"
                    , method : method
                    , data : {
                        idx : $("#idx").val()
                        , title : $("#title").val()
                        , content: e.getContent()
                    }
                    , success : (data) => {
                        location.href="/board/content/read/"+data.idx;
                    }
                    , error : (err) => {
                        alert("error");
                    }
                });
        }
        , onChange: (e) => {}
        , onFocus: (e) => {}
        , onBlur: (e) => {}
        , onPreview: (e) => {}
    })
})
</script>