<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor.min.css">
<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor-contents.min.css">
<link rel="stylesheet" href="/javascripts/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/javascripts/highlightjs/styles/school-book.css">
<section id="widget-grid" class="">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-purple" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">	
				<header>
					<span class="widget-icon"> <i class="fa fa-pencil"></i> </span>
                    <h2>입력</h2>
                </header>
                <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form id="checkout-form" class="smart-form" novalidate="novalidate">
                                <fieldset>
                                    <section>
                                        <label class="label">제목</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-tag"></i>
                                            <input type="hidden" name="idx" id="idx" value="<%=idx%>">
                                            <% if (row) {
                                            %>
                                            <input type="text" name="title" id="title" value="<%=row.title%>">
                                            <%
                                            } else {
                                            %>
                                            <input type="text" name="title" id="title">
                                            <%
                                            }
                                            %>
                                        </label>
                                    </section>
                                </fieldset>
                            </form>
                            <div id="editSection"></div>
                            <footer>
                                <button type="button" class="btn btn-primary" id="btSubmit">
                                    입력
                                </button>
                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                    뒤로
                                </button>
                            </footer>
                        </div>
                    </div>
			</div>
		</article>
	</div>	
</section>

<script src="/javascripts/markdown-it/dist/markdown-it.min.js"></script>
<script src="/javascripts/to-mark/dist/to-mark.min.js"></script>
<script src="/javascripts/tui-code-snippet/dist/tui-code-snippet.min.js"></script>
<script src="/javascripts/codemirror/lib/codemirror.js"></script>
<script src="/javascripts/highlightjs/highlight.pack.min.js"></script>
<script src="/javascripts/squire-rte/build/squire-raw.js"></script>
<script src="/javascripts/edit/dist/tui-editor-Editor.min.js"></script>
<script src="/javascripts/showdown/showdown.min.js"></script>

<script>
$(document).ready(function() {
    let editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: '400px'
    });

    <% if (row) {%>
        let content = "<%=row.content%>";
        editor.setValue(content);
    <%}%>;

    $("#menu-board").addClass("active open");
    $("#menu-board-content").addClass("active");

    $("#btSubmit").click(() => {
        let method = "post";
        if ($("#idx").val() != 0) {
            method = "put";
            
        } 
        $.ajax({
                url: "/board/content/form"
                , method : method
                , data : {
                    idx : $("#idx").val()
                    , title : $("#title").val()
                    , content: editor.getValue()
                }
                , success : (data) => {
                    location.href="/board/content/read/"+data.idx;
                }
                , error : (err) => {
                    alert("error");
                }
        });
    })
})
</script>