<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor.min.css">
<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor-contents.min.css">
<link rel="stylesheet" href="/javascripts/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/javascripts/highlightjs/styles/school-book.css">

<section id="widget-grid" class="">
	<div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-20" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Plugins & Enhancers </h2>
                </header>

                <div>
                    <div class="jarviswidget-editbox">
                    </div>

                    <div class="widget-body">
                        <form id="checkout-form" novalidate="novalidate">
                            <fieldset>
                                <div class="form-group">
                                    <label>제목</label>
                                    <div class="input-group">
                                        <input type="hidden" name="idx" id="idx" value="<%=idx%>">
                                        <% if (row) {
                                        %>
                                        <input type="text" name="title" class="form-control" id="title" value="<%=row.title%>">
                                        <%
                                        } else {
                                        %>
                                        <input type="text" name="title" class="form-control" id="title">
                                        <%
                                        }
                                        %>
                                        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                    </div>
                                    <p class="note">
                                        
                                    </p>
                                </div>
                            </fieldset>


                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Tag</label>
                                            <input class="form-control tagsinput" name="tags" data-role="tagsinput" <% if (row) { %> value="<%=row.tag%>" <% } %> >
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div id="editSection"></div>
                            </fieldset>
                            
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" id="btSubmit">
                                            <i class="fa fa-save"></i>
                                            입력
                                        </button>
                                        <button class="btn btn-default" type="button"  onclick="window.history.back();">
                                            뒤로가기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
	</div>	
</section>

<script src="/javascripts/markdown-it/dist/markdown-it.min.js"></script>
<script src="/javascripts/to-mark/dist/to-mark.min.js"></script>
<script src="/javascripts/tui-code-snippet/dist/tui-code-snippet.min.js"></script>
<script src="/javascripts/codemirror/lib/codemirror.js"></script>
<script src="/javascripts/highlightjs/highlight.pack.min.js"></script>
<script src="/javascripts/squire-rte/build/squire-raw.js"></script>
<script src="/javascripts/edit/dist/tui-editor-Editor.min.js"></script>
<script src="/javascripts/showdown/showdown.min.js"></script>
<script src="/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
<script>
$(document).ready(function() {
    pageSetUp();

    let editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: '400px'
    });

    <% if (row) {%>
        editor.setValue(`<%=row.content%>`);
    <%}%>;

    $("#menu-board").addClass("active open");
    $("#menu-board-content").addClass("active");

    $("#btSubmit").click(() => {
        let method = "post";
        if ($("#idx").val() != 0) {
            method = "put";
            
        } 
        $.ajax({
            url: "/board/content/form"
            , method : method
            , data : {
                idx : $("#idx").val()
                , title : $("#title").val()
                , content: editor.getValue().replace(/~~~/g, "```")
                , tags : $("input[name='tags']").val()
            }
            , success : (data) => {
                location.href="/board/content/read/"+data.idx;
            }
            , error : (err) => {
                alert("error");
            }
        });
    })
})
</script>