<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>게시판</h2>

                    <div class="widget-toolbar">
                        <a href="/board/content/form" id="writeBtn" class="btn btn-primary">글쓰기</a>
                    </div>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body">                        
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>제목</th>
                                        <th>만든날짜</th>
                                        <th>수정날짜</th>
                                    </tr>
                                </thead>
                                <tbody id="trformTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script>
$(document).ready(function () {
    $("#menu-board").addClass("active open");
    $("#menu-board-content").addClass("active");

    function tablePrint() {
        $.getJSON('/board/content/list', {}, function (data) {
            $("#trformTable").html("")
            data.rows.forEach(element => {
                let $tr = $("<tr></tr>");
                $tr.append($("<td></td>").text(element.idx));
                $tr.append($("<td></td>").text(element.title));
                $tr.append($("<td></td>").text(element.createDate));
                $tr.append($("<td></td>").text(element.modifyDate));
                $tr.click(() => {
                    location.href="/board/content/read/"+element.idx;
                });
                $("#trformTable").append($tr);
            });
        });
    }
    tablePrint();
});
</script>