<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" 
            data-widget-colorbutton="false" 
            data-widget-editbutton="false" 
            data-widget-togglebutton="false" 
            data-widget-deletebutton="false">
                <header>
                    <h2 class="font-md"><strong><%= row.title %></strong></h2>				 
                </header>
                <div>
                    <div class="jarviswidget-editbox">   
                    </div>
                    
                    <div class="widget-body">    
                        <%- row.content %>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script>
    $(document).ready(function() { 
        $("#menu-board").addClass("active open");
        $("#menu-board-content").addClass("active");       
        pageSetUp();
    });
</script>