&nbsp;
<div class="input-group mb-3">
  <input type="text" class="form-control" id="sqlText" aria-label="Text input with dropdown button">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" id="sqlSubmit" type="button">실행</button>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">type</th>
      <th scope="col">name</th>
      <th scope="col">tbl_name</th>
      <th scope="col">sql</th>
    </tr>
  </thead>
  <tbody id="dbTable">
  </tbody>
</table>

<script>
$(document).ready(function () {
    $.ajax({
        url : '/core/db'
        , method : 'get'
        , data : {}
        , success : (data) => {
            for (var i = 0; i < data.result.length; i++) {
                let $tr = $("<tr></tr>");
                $tr.append("<td>"+data.result[i].type+"</td>");
                $tr.append("<td>"+data.result[i].name+"</td>");
                $tr.append("<td>"+data.result[i].tbl_name+"</td>");
                $tr.append("<td>"+data.result[i].sql+"</td>");
                $("#dbTable").append($tr);
            }
        }
    });
    $("#sqlSubmit").click(function() {
        $.ajax({
            url : '/core/sql',
            method : 'post',
            data : {
                sql : $("#sqlText").val()
            },
            success : function (data) {
                console.log(data);
            },
            error : function (err) {
                console.log(err.toString());
            }
        });
    });
});
</script>