<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor-contents.min.css">
<link rel="stylesheet" href="/javascripts/highlightjs/styles/school-book.css">

<section id="widget-grid" class="">
    <div class="row">
        <div class="col-sm-12">
            <div class="jarviswidget" id="wid-id-20" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>일지</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>

                    <div class="widget-body">
                        <table class="table table-striped table-bordered">
                            <tbody id ="journalTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/javascripts/markdown-it/dist/markdown-it.min.js"></script>
<script src="/javascripts/tui-code-snippet/dist/tui-code-snippet.min.js"></script>
<script src="/javascripts/highlightjs/highlight.pack.min.js"></script>
<script src="/javascripts/edit/dist/tui-editor-Viewer.js"></script>

<script>
$(document).ready(function() {
    pageSetUp();
    $("#menu-main").addClass("active");

    $.ajax({
        url:"/board/journal/list"
        , method: "get"
        ,success: (data) => {
            data.rows.forEach(element => {
                $("#journalTable")
                    .append($("<tr class='danger'>")
                        .append($("<td>")
                            .addClass("text-center")
                            .append(($("<a>")
                                .attr("href", "/profile")
                                .append($("<strong>")
                                    .text("난파선")
                                    )
                                )
                            )
                            .append($("<em>")
                                .text(" on "+element.createDate)
                            )
                        )
                    )
                    .append($("<tr class='warning'>")
                        .append($("<td>")
                            .attr("id", "journal_"+element.idx)
                        )
                    )

                new tui.Viewr({
                    el: document.querySelector("#journal_"+element.idx)
                    , initialValue : element.description
                });
            });
        }
        , error: (err) => {
            alert("error = " +err);
        }
    });
});
</script>