<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor.min.css">
<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor-contents.min.css">
<link rel="stylesheet" href="/javascripts/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/javascripts/highlightjs/styles/school-book.css">

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <table class="table table-striped table-forum">
                <tbody id ="journalTable">
                    <tr>
                        <td><div id="editSection"></div>
                            
                        <button class="btn btn-primary margin-top-10" id="journalBt">
                            입력
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/javascripts/markdown-it/dist/markdown-it.min.js"></script>
<script src="/javascripts/to-mark/dist/to-mark.min.js"></script>
<script src="/javascripts/tui-code-snippet/dist/tui-code-snippet.min.js"></script>
<script src="/javascripts/codemirror/lib/codemirror.js"></script>
<script src="/javascripts/highlightjs/highlight.pack.min.js"></script>
<script src="/javascripts/squire-rte/build/squire-raw.js"></script>
<script src="/javascripts/edit/dist/tui-editor-Editor.min.js"></script>
<script src="/javascripts/showdown/showdown.min.js"></script>

<script>
$(document).ready(function() {
    //pageSetUp();
    $("#menu-main").addClass("active");

    let editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: '150px'
    });

    $.ajax({
        url:"/board/journal/list"
        , method: "get"
        ,success: (data) => {
            data.rows.forEach(element => {
                $("#journalTable")
                    .append($("<tr>")
                        .append($("<td>")
                            .addClass("text-center")
                            .append(($("<a>")
                                .attr("href", "/profile")
                                .append($("<strong>")
                                    .text("주인장")
                                    )
                                )
                            )
                            .append($("<em>")
                                .text("on "+element.createDate)
                            )
                        )
                    )
                    .append($("<tr>")
                        .append($("<td>")
                            .html(element.description)
                        )
                    )
            });
        }
        , error: (err) => {
            alert("error = " +err);
        }
    });

    $("#journalBt").click(function() {
        $.ajax({
        url:"/board/journal/form"
        , method: "post"
        , data: {
            description: editor.getValue()
        }
        ,success: (data) => {
            location.reload();
        }
        , error: (err) => {
            alert("error");
        }
    });
    });
});
</script>