<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
                <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Task 관리</h2>
    
                        <div class="widget-toolbar">
                        </div>
                </header>
                <div>
                    <div class="widget-body">  
                        <table id="jqgrid"></table>
                        <div id="pjqgrid"></div>
                    </div>
                </div>
                </div>
        </article>
    </div>
</section>

<script src="/js/plugin/jqgrid/jquery.jqGrid.min.js"></script>
<script src="/js/plugin/jqgrid/grid.locale-en.min.js"></script>

<script>
$(document).ready(function() {
    pageSetUp();

    $(document).ready(function () {
    $("#menu-project").addClass("active open");
    $("#menu-project-task").addClass("active");
});

    $("#jqgrid").jqGrid({
        url: "/project/task/list",
        datatype: "json",
        height: 'auto',
        colNames: ['idx', '프로젝트', '버전', '제목', '타입', '상태', '우선도', '시작일', '마감일', '담당자', '진척도'],
        colModel: [{
            name: 'idx',
            index: 'idx',
            hidden: true,
        }, {
            name: 'projectName',
            index: 'projectName',
            width: 80,
        }, {
            name: 'versionName',
            index: 'versionName',
            width: 70,
        }, {
            name: 'title',
            index: 'title',
            editable: true
        }, {
            name: 'typeName',
            index: 'typeName',
            width: 60,
            // hidden: true,
            // editrules: {edithidden: true},
            // editable: true,
            // editable: true,
            // edittype: 'select',
            // editoptions: {value: "1:기능;2:버그;3:개선"}
        }, {
            name: 'priorityName',
            index: 'priorityName',
            editable: true,
            width: 60,
        }, {
            name: 'statusName',
            index: 'statusName',
            editable: true,
            width: 60,
        }, {
            name: 'start_time',
            index: 'start_time',
            editable: true,
            width: 70,
        }, {
            name: 'finish_time',
            index: 'finish_time',
            editable: true,
            width: 70,
        }, {
            name: 'manager',
            index: 'manager',
            hidden: true,
            editable: true,
        }, {
            name: 'progress',
            index: 'progress',
            editable: true,
            width: 60,
        }],
        rowNum: 10,
        rowList: [10, 20, 30],
        pager: '#pjqgrid',
        sortname: 'idx',
        toolbarfilter: true,
        viewrecords: true,
        sortorder: "desc",
        gridComplete: function() {
        },
        caption: "Task",
        autowidth: true,

    });
    $("#jqgrid").jqGrid('navGrid', "#pjqgrid"
        , { edit: true, add: true, del: true }
            , {beforeInitData: () => {
                location.href="/project/task/form?idx="+$("#jqgrid").jqGrid('getRowData', $("#jqgrid").jqGrid('getGridParam', 'selrow')).idx;
                return false;
            }
        }
        , {beforeInitData: (e) => {
                location.href="/project/task/form";
                return false;
            }
        }
    );

    $('.navtable .ui-pg-button').tooltip({
        container: 'body'
    });

    

    // remove classes
    $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
    $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
    $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
    $(".ui-jqgrid-pager").removeClass("ui-state-default");
    $(".ui-jqgrid").removeClass("ui-widget-content");

    // add classes
    $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
    $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

    $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
    $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
    $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
    $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
    $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
    $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
    $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
    $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

    $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
    $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

    $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
    $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

    $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
    $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

    $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
    $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

});
</script>