<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" 
            data-widget-colorbutton="false" 
            data-widget-editbutton="false" 
            data-widget-togglebutton="false" 
            data-widget-deletebutton="false">
                <header>
                    <h2 class="font-md"><strong><%= row.title %></strong></h2>
                    <div class="widget-toolbar">
                        <input type="hidden" id="idx" value="<%=row.idx%>">
                        <a href="#" id="checkBtn" class="btn btn-danger">체크리스트 추가</a>
                        <a href="#" id="deleteBtn" class="btn btn-danger">삭제</a>
                    </div>			 
                </header>
                <div>
                    <div class="jarviswidget-editbox">   
                    </div>
                    <div class="smart-form" id="widget-body" style="height:100%"></div>
                    <div class="widget-body">
                        <h5 class="todo-group-title">----------------------------</h5>
                        <%- row.description %>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script>
$(document).ready(function() { 
    $("#menu-project").addClass("active open");
    $("#menu-project-project").addClass("active");       
    pageSetUp();

    $("#deleteBtn").click((e) => {
        $.ajax({
            url: "/project/task/form"
            , method : "delete"
            , data : {
                idx : $("#idx").val()
            }
            , success : (data) => {
                location.href="/project";
            }
            , error : (err) => {
                alert("error");
            }
        });
    });


    function checkListFirstDraw(element) {
        $("#widget-body")
        .prepend($("<div id='check_"+element.mainIdx+"'>")
            .prepend($("<h5>")
                .addClass("todo-group-title")
                .text(element.mainTitle)
            )
            .append($("<ul>")
                .addClass("todo")
                .append($("<li id='li_input'>")
                    .append($("<span>")
                        .addClass("handle")
                    )
                    .append($("<p>")
                        .append($("<input type='text'>"))
                        .append("&nbsp;")
                        .append($("<a href='#'>")
                            .append($("<i>")
                                .addClass("fa fa-lg fa-plus")
                            )
                            .on("click", () => {
                                let liVal = $("div#check_"+element.mainIdx+" ul p input").val();
                                $("div#check_"+element.mainIdx+" ul p input").val("");
                                $.ajax({
                                    url: "/project/checkList/savecolumn"
                                    , method: "post"
                                    , data: {
                                        checkListIdx: element.mainIdx
                                        , title: liVal
                                        , status: 0
                                    }
                                    , success: (data) => {
                                        checkListColunmDraw({mainIdx: element.mainIdx
                                            , subIdx: data.idx
                                            , subTitle: liVal});        
                                    }
                                });
                            })
                        )
                    )
                )
            )
        )
        $("#checkBtn").hide()
    }

    function checkListColunmDraw(element) {
        $("div#check_"+element.mainIdx+" ul")
        .append($("<li id='li_"+element.mainIdx+"_"+element.subIdx+"'>")
            .append($("<span>")
                .addClass("handle")
                .append($("<label>")
                    .addClass("checkbox")
                    .append($("<input type='checkbox' id='checkbox_"+element.mainIdx+"_"+element.subIdx+"'>"))
                    .append($("<i>"))
                )
            )
            .append($("<p>")
                .text(element.subTitle)
            )
            .append("&nbsp;")
            .append($("<a>")
                .append($("<i>")
                    .addClass("fa fa-lg fa-minus")
                )
            )
        )
    }

    $.ajax({
        url: "/project/checklist/list"
        , method: "get"
        , data: {
            taskIdx: $("#idx").val()
        }
        , success: (data) => {
            if (data.rows.length != 0) {
                checkListFirstDraw(data.rows[0])
                
                if (data.rows[0].subIdx != null)
                    data.rows.forEach(checkListColunmDraw);
            }
        }
        , error: (err) => {
            alert("체크리스트 목록 가져오기 에러");
        }
    });

    $("#checkBtn").click((e) => {
        if ($("#widget-body h5").length == 0) {
            $.ajax({
                url: "/project/checkList/save"
                , method: "post"
                , data: {
                    taskIdx: $("#idx").val()
                    , title: "체크리스트"
                }
                , success: (data) => {
                    if (data.idx != null) {
                        checkListFirstDraw({mainIdx: data.idx
                            , mainTitle: "체크리스트"})
                    }
                }
            });
        }
    });
});
</script>