<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">            
            <div class="alert alert-info">
                <strong>NOTE:</strong> All the data is loaded from a seperate JSON file
            </div>
            <div class="jarviswidget well" id="wid-id-0">
                <header>
                    <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                    <h2>Widget Title </h2>				
                </header>

                <div>
                    <div class="jarviswidget-editbox">
                        <input class="form-control" type="text">	
                    </div>
                    
                    <div class="widget-body no-padding">    
                        <table id="example" class="display projects-table table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th><th>Projects</th><th><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> EST</th>
                                    <th>Contacts</th>
                                    <th>Status</th>
                                    <th><i class="fa fa-circle txt-color-darken font-xs"></i> Target/ <i class="fa fa-circle text-danger font-xs"></i> Actual</th>
                                    <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> Starts</th>
                                    <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> Ends</th>
                                    <th>Tracker</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="row">
        <div class="col-sm-12">
        </div> 
    </div>
</section>